<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{.Artist.Name}}</title>
    <link rel="icon" href="/static/img/favicon.ico?v=1">
</head>
<body>
    <h1>
        <a href="https://open.spotify.com/search/{{.Artist.Name | urlquery}}"
           target="_blank">
            {{.Artist.Name}}
        </a>
    </h1>
    <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}">
    <p>Premier album:
        {{/* <a href="https://open.spotify.com/search/{{.Artist.Name | urlquery}}%20album%20{{.Artist.FirstAlbum | urlquery}}"
           target="_blank"> */}}
            {{.Artist.FirstAlbum}}
        {{/* </a> */}}
    </p>
    <p>Crée en: {{.Artist.CreationDate}}</p>
    <h2>Membres:</h2>
    <ul>
        {{range .Artist.Members}}
            <li>{{.}}</li>
        {{end}}
    </ul>
</body>
</html>
