<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Erreur</title>
</head>
<body>
    <h1>Erreur {{.StatusCode}}</h1>
    <p>{{.Message}}</p>
    <a href="/">Retour</a>
</body>
</html>
