<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
    <h1>Groupie Tracker</h1>
    <p>Bienvenue !</p>
    
    {{range .Artists}}
        <div>
            <h2>{{.Name}}</h2>
            <img src="{{.Image}}" alt="{{.Name}}" width="200">
            <p>Créé en: {{.CreationDate}}</p>
        </div>
    {{end}}
</body>
</html>
